<div style="display: flex; margin-top: 3em">
  <p>Nahrajte PDF soubor v angličtině, jehož velikost nepřesahuje 3 stránky:</p>
</div>
<div>
  <button (click)="completeDownloadOfPdf()">
    Stáhnout testovací HelloWorld.pdf
  </button>
</div>

<div style="display: flex; margin-top: 1em">
  <input type="file" (change)="onFileSelected($event)" />
</div>
<div *ngIf="invalidFileTypeCheck">
  <p>Nesprávný typ souboru. Nahrajte soubor typu PDF</p>
</div>

<div *ngIf="convertionButtonBool && !this.fileDoesNotExist">
  <button (click)="whileCheckConvertion()">Konvertovat soubor</button>
</div>

<div *ngIf="loading">
  <p>Načítání...</p>
</div>

<div *ngIf="fileDoesExist">
  <p>Soubor byl úspěšně konvertován</p>
</div>

<div *ngIf="fileDoesNotExist">
  <p>
    Soubor nebyl úspěšně konvertován. Zkontrolujte, jestli velikost vašeho PDF
    souboru skutečně nepřesahuje 3 strany
  </p>
</div>

<div *ngIf="databaseBool && fileDoesExist">
  <button (click)="completeDownload()">Stáhnout</button>
</div>
