<header data-bs-theme="dark">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4>Popis</h4>
          <p class="text-body-secondary">
            Angular/Asp.Net Core aplikace pro čtení PDF s mp3 výstupem a limitem
            na 3 stránky
          </p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4>Kontakty</h4>
          <ul class="list-unstyled">
            <li>
              <a href="https://verbdev.tode.cz/" class="text-white"
                >Můj osobní web</a
              >
            </li>
            <li>
              <a href="https://www.facebook.com/verbas.Pk" class="text-white"
                >Facebook</a
              >
            </li>
            <li>
              <a
                href="https://www.linkedin.com/in/jakub-verb%C3%ADk-135768314/"
                class="text-white"
                >LinkedIn</a
              >
            </li>
            <li>
              <a
                href="https://github.com/theverboten/MergedSharp"
                class="text-white"
                >Github projektu</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          aria-hidden="true"
          class="me-2"
          viewBox="0 0 24 24"
        ></svg>
        <strong>Čtečka</strong>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarHeader"
        aria-controls="navbarHeader"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
